.product-card-wrapper {

  .p-card {
    border-radius: 0 !important;
    margin: 2px;
    height: 99%;
  }

  .link {
    text-decoration: none;
    color: #ffffff;
    background-color: #2196F3;
    padding: 0.5rem;
    border-radius: 6px;
    position: absolute;
    right: 15px;
    bottom: 6px;
  }
}